/* common classes */
.color_white{
    color: white;
}
.control-group.required .control-label:after {
    color: #e20000;
    content: "*";
    position: absolute;
    margin-left: 5px;
    font-size: 15px;
    margin-top: 3px;
}
.td-center {
    text-align: center !important;
}
/* Login > SetNewPassword */
.set_password_form{
    border: 0px !important;
}

/* Adminpanel > Dashboard */
.icon-down {
    float: right;
    font-size: 18px;
    position: relative;
    bottom: 5px;
    height: 25px !important;
    padding: 0px !important;
    margin: 0px !important;
}

/* Adminpanel > Teachers > Create */
.custom_file_input{
    display: none !important;
}
#basic_validate .help-inline{
    color: darkred !important;
    font-size: 13px !important;
}

/* Adminpanel > Teachers > Details */
.teacher_details_table, .teacher_details_table th {
    margin-top: 20px;
    background: #08c;
    color: white;
    font-size: 12px;
}
.teacher_details_table tr:hover > th, .teacher_details_table tr:hover > td{
    background: white !important;
    color: #08c !important;
}