
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Code Academy Tələbə Davamiyyəti Sistemi - Giriş </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/matrix-login.css" />
        <link href="~/Areas/Adminpanel/Assets-Adminpanel/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
        <link href="~/assets/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="loginbox">
            <form id="loginform" class="form-vertical" method="post" action="@Url.Action("Index", "Login")">
                <div class="control-group normal_text"> <h3><img src="~/Areas/Adminpanel/Assets-Adminpanel/img/logo.png" alt="Logo" /></h3></div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" name="teacher_email" placeholder="E-mail" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" name="teacher_password" placeholder="Şifrə" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            @{ 
                                if (ViewBag.LoginError != null)
                                {
                                    <span class="color_white">@ViewBag.LoginError</span>
                                }
                                if(ViewBag.LoginError == null && TempData["PasswordChanged"] != null)
                                {
                                    <span class="color_white">@TempData["PasswordChanged"]</span>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="form-actions text-center">
                    <button type="submit" class="btn btn-success login_btn">Daxil Ol</button>
                </div>
            </form>
        </div>
        <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.min.js"></script>
        <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/matrix.login.js"></script>
    </body>
</html>
