<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminpanelLayout</title>
</head>
<body>
    bura adminpaneldir
    <div> 
        @RenderBody()
    </div>
</body>
</html>
