@{
    ViewBag.Title = "Ana Səhifə";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

<div id="content" class="teacher_page_content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="@Url.Action("Index", "Dashboard", new { Area="Adminpanel"})" title="Ana Səhifə Get" class="tip-bottom"><i class="icon-home"></i> Ana Səhifə</a></div>
    </div>
    <!--End-breadcrumbs-->
    
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Tələbələr</h5>
                <span class="label label-info">Featured</span>
            </div>
            <div class="widget-content">
                <div class="row-fluid">
                    <div class="span7">
                        <table id="attendance_table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Ad</th>
                                    <th>Soyad</th>
                                    <th>IP</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="span5">
                        <img width="300px" class="qr_code_image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/matrix-media.css" />
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/jquery.gritter.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/assets/css/style.css" />
}

@section scripts {
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/excanvas.min.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.min.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.ui.custom.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/bootstrap.min.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.flot.min.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.flot.resize.min.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.peity.min.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/fullcalendar.min.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/matrix.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/matrix.dashboard.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.gritter.min.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/matrix.interface.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/matrix.chat.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.validate.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/matrix.form_validation.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.wizard.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.uniform.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/select2.min.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/matrix.popover.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/matrix.tables.js"></script>
    <script>
        var ipAddress, statusIcon;
        var group_id = 0;


        function rand(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }


        function generate_qr_code(_group_id) {
            group_id = _group_id;
            $(".qr_code_image").attr("src", "");

            var tet = "@Url.Action("Generate", "QrCode", new {group_id = "-1", qr_code_value = "-2" })";

            tet = tet.replace("-1", group_id);

            tet = tet.replace("-2", rand(100000000, 999999999))

            tet = tet.replace("amp;", "");

            $(".qr_code_image").attr("src", tet);

            CheckClassAttendance();
        }


        function CheckClassAttendance() {
            var url = "@Url.Action("CheckStudentAttendanceList", "Dashboard", new { group_id = "-1" })";
            url = url.replace("-1", group_id);

            $.ajax({
                type: 'GET',
                url: url,
                success: function (attendanceList) {
                    $('#attendance_table tbody').empty();
                    $.each(attendanceList, function (i, item) {
                        ipAddress = "";
                        statusIcon = "<i class='icon-remove-sign'></i>";
                        if (item.StudentAttendanceSenderIp != null) {
                            ipAddress = item.StudentAttendanceSenderIp;
                        }
                        if (item.StudentAttendanceStatus == true) {
                            statusIcon = "<i class='icon-ok-sign'></i>";
                        }
                        var rows = "<tr>" + "<td>" + item.StudentName + "</td>" + "<td>" + item.StudentSurname + "</td>" + "<td>" + ipAddress + "</td>" + "<td>" + statusIcon + "</td>" + "</tr>";
                        $('#attendance_table tbody').append(rows);
                    });
                },
                error: function (data) {
                    alert(data);
                }
            });
        }


        var interval = setInterval(function () {
            if (group_id > 0) {
                CheckClassAttendance();
            }
        }, 2000);

    </script>
}
